/* CSS for the web page */
body{
    front-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cf8f8f;
    line-height: 1.6;

}


:root {
  --primary: #f4a2a2;
  --accent: #ffcc00;
  --light-bg: #fafafa;
  --section-bg: #ffffff;
}


header{
    background-color:var(--primary);
    front-color: white;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 62px;
}


nav{
     gap: 50px;
}

nav a{
    /*color: white;*/
    color: rgb(110, 73, 73);
    margin: 0.15px;
     padding: 8px 12px;
  border-radius: 4px;

   

front-weight: bold;
    
}
nav a:hover {
  color:var(--accent);
  transition: 0.2s;

}


section{
    padding: 20px;
     max-width: 800px;
  margin: 20px auto;
background:var(--section-bg);
border-radius: 8px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}

img{
    
    display: block;
  margin: 20px auto;
  border-radius: 120px;
  box-shadow: 0 4px 10px rgba(157, 8, 8, 0.2);
    width: 300px;
    
}

footer
{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

 h3{
padding: 20px;
    margin: 20px;
background:#e3a8a8;
border-radius: 8px;    
}

  #projects {
    display: flex;
gap: 20px;
justify-content: space-between;
    margin-bottom: 20px;

  /*width: 89%;
    padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa; */
}


.project-card {
  flex: 1;
  padding: 15px;
  background:var(--light-bg);
  border: 1px solid #ddd;
  border-radius: 8px;
}


form input,form textarea {
  width: 89%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
   border-radius: 6px;
  cursor: pointer;
}

#darkModeBtn {
   display: flex; 
    justify-content: flex-end;
}


button:hover {
  background: #555;
}

.button-container {
  margin-top: 10px;
} 
.button-container {
    display: flex;
    justify-content: flex-end;
}

/* Making the website mobile responsive */

@media (max-width: 600px) {
  #projects {
    flex-direction: column;
  }

  .project-card {
    margin-bottom: 20px;
  }
}
html {
  scroll-behavior: smooth; /* Enables smooth scrolling -
   When someone clicks “Projects” or “Contact,” the page can scroll smoothly instead of jumping. */
}

header {
  position: sticky; /* Makes the header stick to the top of the page when scrolling. */
  top: 0;
  z-index: 1000;
}


/* Dark mode styles */
.dark-mode {
  background-color: #222;
  color: #f1f1f1;
}

.dark-mode section {
  background-color: #333;
  color: #fff;
}

.dark-mode header {
  background-color: #111;
}

.dark-mode footer {
  background-color: #111;
}
